[Desktop Entry]
Type=Application
Name=JamesGames
GenericName=Game Launcher
Comment=Game launcher with plugin-based sources
Exec=JamesGames %u
Icon=jamesgames
Categories=Game;Utility;
StartupWMClass=JamesGames
MimeType=x-scheme-handler/arachnel;
Terminal=false
