[Desktop Entry]
Type=Application
Name=Sprout
GenericName=Game Launcher
Comment=Game launcher with plugin-based sources
Exec=SproutLauncher %u
Icon=sproutlauncher
Categories=Game;Utility;
StartupWMClass=SproutLauncher
MimeType=x-scheme-handler/arachnel;
Terminal=false
